version: '3.8'

services:
  chat-service-1:
    image: lab2_assignment
    ports:
      - "3000:8080"
    deploy:
      replicas: 3
    restart: unless-stopped
    networks:
      - chat-network

  chat-service-2:
    image: lab2_assignment
    ports:
      - "3001:8080"
    deploy:
      replicas: 2
    restart: unless-stopped
    networks:
      - chat-network

networks:
  chat-network:
    driver: bridge